<div class="listing-back-link">
  <%= link_to url, class: "link js-back-to-list flex" do %>
    <%= icon "arrow-left-s-line", class: "icon--small h-6 w-6 pt-1 fill-[--primary]", role: "img", "aria-hidden": true %>
    <%= text %>
  <% end %>
</div>
