<% if show_voting_rules? %>
  <% announcement_body = capture do %>
    <div class="editor-content">
      <% if rules.size > 1 %>
        <ul>
          <% rules.each do |rule| %>
            <li><%= rule %></li>
          <% end %>
        </ul>
      <% elsif rules.size == 1 %>
        <div><%= rules.first %></div>
      <% end %>

      <%= render partial: "decidim/proposals/proposals/remaining_votes_count" if current_user_can_vote? %>
    </div>
  <% end %>

  <%= cell("decidim/announcement", { title: t(".title"), body: announcement_body }, id: "voting-rules") %>
<% end %>
