<%= link_to url_for(button_url), id: "custom-hero-cta", class: "button button__lg md:button__xl button__secondary", title: t("decidim.pages.home.custom_hero.participate_title") do %>
  <span><%= decidim_sanitize_admin translated_button_text %></span>
<% end %>
