<div class="budget-list flex flex-col items-center space-y-8">
  <%= render partial: "projects_list", locals: { project: } %>
</div>

<%= decidim_paginate projects %>
<%= render partial: "budget_excess" %>
