<nav role="navigation" aria-label="<%= t("layouts.decidim.app_name") %>">
  <p class="h6 mb-2 md:mb-2"><%= t("layouts.decidim.app_name") %></p>
  <ul class="space-y-1 break-inside-avoid md:space-y-1">
    <%= cell("decidim/footer_pages", :pages) %>
    <li>
      <a href="#" data-dialog-open="dc-modal"><%= t("layouts.decidim.footer.data_consent_settings") %></a>
    </li>
  </ul>
</nav>
