<div>
  <ul id="dropdown-menu-participatory-space" class="space-y-2">
    <% model.each do |item| %>
      <li role="menuitem">
        <%= link_to item[:url], class: "participatory-space__nav-item" do %>
          <%= item[:name] %>
          <%= icon "arrow-right-line" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
