<% add_decidim_page_title(translated_attribute(@page.title)) %>
<% add_decidim_meta_tags({
                           description: translated_attribute(@page.body)
                         }) %>

<main class="space-y-8">
  <div class="one-col mx-auto space-y-4 text-center">
    <h1 class="h1 decorator inline-block text-left py-12">
      <%= translated_attribute(@page.title) %>
    </h1>

    <%= render partial: "decidim/shared/component_announcement" %>

    <div class="editor-content text-left text-md text-black">
      <% if translated_attribute(@page.body).empty? || translated_attribute(@page.body) == "<p></p>" %>
        <%= cell("decidim/announcement", t("empty", scope: "decidim.pages.show")) %>
      <% else %>
        <%= decidim_sanitize_editor_admin translated_attribute(@page.body) %>
      <% end %>
    </div>
  </div>
</main>
