  <div class="text-center mt-10">
    <%= link_to button_url, class: "button button__xl button__secondary", title: t("decidim.pages.home.custom_hero.participate_title") do %>
      <span><%= decidim_escape_translated button_text %></span>
    <% end %>
  </div>
