<div class="py-homepage homepage-content_block">
  <div class="infolift">
    <div class="mb-8">
      <% unless translated_attribute(title).blank? %>
        <h2 class="h3 md:h2 text-center">
          <%= decidim_escape_translated title %>
        </h2>
      <% end %>
    </div>

    <div class="infolift__content">
      <% unless translated_attribute(description).blank? %>
        <div class="text-xl">
            <%= decidim_sanitize_admin translated_attribute(description) %>
        </div>
      <% end %>
    </div>

    <% unless translated_attribute(button_text).blank? %>
      <%= render :cta_button %>
    <% end %>
  </div>
</div>
