<section id="hero-<%= resource&.id %>" data-process-hero class="content-block process-banner">
  <div class="participatory-space__hero">
    <div class="participatory-space__hero-text">
      <h1 class="h1 text-black text-5xl">
        <%= title_text %>
      </h1>
      <p class="participatory-space__hero-slogan">
        <%= subtitle_text %>
      </p>
    </div>

    <div>
      <%= cell "decidim/nav_links", nav_items %>
    </div>
  </div>
</section>
