.card__details {
  @apply component-background-color p-2 flex flex-row-reverse gap-4 justify-between items-center md:justify-center md:flex-col md:items-center;

  &__info {
    @apply flex flex-col text-center gap-2;

    &__label {
      @apply text-md;
    }

    &__data {
      @apply text-[28px] font-bold;
    }
  }
}

.card__list {
  @apply border border-background hover:border-background hover:no-underline px-0;

  &:hover {
    .card__list-title_large {
      @apply underline;
    }
  }

  &-title_large {
    @apply text-[--primary] inline-block align-middle;
  }

  &-content {
    @apply flex flex-col w-full md:flex-row md:justify-between;
  }

  &-metadata {
    @apply mt-2;
  }
}

a.card__list[id^="accountability__result_"] {
  @apply gap-0;
}

#highlighted-processes {
  .card__highlight {
    @apply hover:ring-[--primary] mb-8;

    &-text {
      @apply text-black text-md;
    }
  }
}

#blogs {
  .card__list {
    @apply w-full md:w-4/6;
  }
}

.tag-container {
  @apply mt-3;
}

.card-open {
  @apply p-2 flex justify-start items-center md:justify-center;
}

.vote-open {
  @apply p-4 flex flex-col items-center justify-center space-y-2;

  [id^="proposal-"][id$="vote-button"] {
      @apply min-w-44;
    }
}
