.card__details {
  @apply component-background-color p-2 flex flex-row-reverse gap-4 justify-between items-center md:justify-center md:flex-col md:items-center;

  &__info {
    @apply flex flex-col text-center gap-2;

    &__label {
      @apply text-md;
    }

    &__data {
      @apply text-[28px] font-bold;
    }
  }
}

.card__list {
  @apply border border-background hover:border-background hover:no-underline px-0;

  &:hover {
    .card__list-title_large {
      @apply underline;
    }
  }

  &-title_large {
    @apply text-[--primary] inline-block align-middle;
  }

  &-content {
    @apply flex flex-col w-full md:flex-row md:justify-between;
  }

  &-image_content {
    @apply grid 2xl:flex 2xl:justify-between;

    .placeholder-image {
      @apply max-2xl:ml-0 w-full h-full relative aspect-[1.5] object-cover rounded 2xl:w-1/5;

      margin-left: calc(calc(1rem + 4px) * -1);

      &_background {
        @apply w-full h-full bg-primary opacity-10 absolute top-0 left-5 z-10 rounded 2xl:left-0;
      }
    }
  }

  &-image_list {
    @apply grid grid-cols-1 sm:grid-cols-2 gap-4 2xl:gap-0 2xl:flex 2xl:flex-col 2xl:space-y-10;
  }

  &-metadata {
    @apply mt-2;
  }
}

a.card__list[id^="accountability__result_"] {
  @apply gap-0;
}

#highlighted-processes {
  .card__highlight {
    @apply hover:ring-[--primary] mb-8;

    &-text {
      @apply text-black text-md;
    }
  }
}

#blogs {
  .card__list {
    @apply w-full md:w-4/6;
  }
}

.tag-container {
  @apply mt-3;
}

.card-open {
  @apply p-2 flex justify-start items-center md:justify-center;
}

.vote-open {
  @apply p-4 flex flex-col items-center justify-center space-y-2 2xl:max-w-48;

  [id^="proposal-"][id$="vote-button"] {
      @apply 2xl:min-w-44;
    }
}

.title_large-image {
  @apply overflow-hidden h-20 sm:h-40 lg:h-20 2xl:h-20;
}

.card_description-image {
  @apply overflow-hidden h-20 2xl:h-10;
}

.card {
  &__list {
    &-image {
      @apply w-full ml-0 flex-none rounded overflow-hidden aspect-[1.5] 2xl:w-1/5 2xl:-ml-[calc(1rem+4px)];

      & * {
        @apply w-full h-full object-cover;
      }
    }
  }
}
