#processes-grid {
  a.card__grid {
    @apply hover:ring-[--primary];
  }
}

.page__grid {
  .page__title {
    @apply text-[--primary];
  }

  .page__accordion-trigger-snippet {
    @apply text-black;
  }

  .read-more {
    @apply h6;
  }

  a:hover,
  a:focus {
    @apply no-underline;

    .page__title {
      @apply underline decoration-[--primary];
    }
  }
}
