/* css for decidim_simple_ui */

header {
  .main-bar {
    @apply flex grid-cols-none;

    &__search {
      @apply col-auto w-[13.75rem] ml-auto justify-self-end;

      form {
        @apply rounded-none border bg-white;
      }

      input[type="text"] {
        @apply leading-7 px-2;
      }

      button[type=submit] {
        @apply w-9 h-full top-0 right-0 bg-secondary text-white border-l border-black;

        svg {
          @apply inline fill-white;
        }
      }
    }

    &__links-desktop,
    > *:last-child {
      @apply col-auto md:col-auto lg:col-auto justify-self-end;
    }

    &__links-desktop {
      @apply ml-0;
    }
  }
}

footer {
  @apply mb-0;

  .main-footer__down {
    @apply border-t-0 flex flex-wrap items-center gap-6 container py-6 text-white;
  }
}

.decorator {
  @apply after:rounded-none after:bg-transparent;
}

.page__title {
  @apply h3 mb-4;
}

.topic-container {
  @apply p-4 border border-gray-3;
}

.layout-1col {
  &.cols-12 > * {
    @apply col-span-12 self-start;
  }
}

.layout-2col {
  @apply block;
}

.button--social {
  @apply max-[465px]:h-auto flex items-stretch w-full h-16;

  &__icon {
    @apply bg-[#002ba0] mr-px w-[70px] flex items-center;

    svg {
      @apply h-8 w-8 mx-auto fill-white;
    }
  }

  &__text {
    @apply bg-[#002ba0] h-full w-10/12 text-lg p-1 font-bold text-white flex justify-center items-center;
  }

  &.is-hover,
  &:not([disabled]):not([class*="button__text"]):not(label):hover {
    @apply hover:bg-transparent;
  }
}

.button--mpassid {
  .button--social__icon {
    @apply max-w-none;
  }
}

.page__title {
  @apply text-[22px] md:h3;
}

.register__separator {
  @apply text-center flex justify-center mt-6 text-xl mx-auto w-fit;

  &__text {
    @apply font-bold text-md md:text-lg;
  }

  svg {
    @apply h-8 w-8 pb-1 transform transition-transform duration-300;
  }
}

#session_new_user {
  .form__wrapper label:not(.form__wrapper-checkbox-label),
  .form__wrapper-block label:not(.form__wrapper-checkbox-label) {
    @apply font-normal text-md;
  }

  .form__wrapper {
    @apply gap-6;

    input {
      @apply rounded-none;
    }
  }

  .form__wrapper-block {
    @apply border-none py-1;

    button {
      @apply bg-[#002ba0];
    }
  }

  .login__links {
    @apply border-none;
  }
}

.component-background {
  @apply bg-[#f2fcfd] py-4 mb-10;
}

.component-background-color {
  @apply bg-[#f2fcfd];
}

#highlighted-processes {
  .card__highlight {
    @apply hover:ring-[--primary] mb-8;

    &-text {
      @apply text-black text-md;
    }
  }
}

#processes-grid {
  a.card__grid {
    @apply hover:ring-[--primary];
  }
}

.button.is-hover,
.button.is-focus,
.button:not([disabled]):not([class*=button__text]):not(label):hover,
.button:not([disabled]):not([class*=button__text]):not(label):focus {
  @apply bg-none;

  &.button__transparent-secondary {
    @apply text-white bg-[--primary];

    svg {
      @apply fill-white;
    }
  }

  &.button__secondary {
    @apply text-[--primary] bg-white border-[--primary];

    svg {
      @apply fill-[--primary];
    }
  }

  &.budget__card__prevote-explore-button {
    @apply text-white bg-[--primary];

    svg {
      @apply fill-white;
    }
  }
}

.button {
  @apply rounded-none;
}

a.button {
  @apply hover:no-underline focus:no-underline;
}

[type='search'] {
  @apply outline-offset-0;
}

.form-defaults input[type=search]:not(.reset-defaults) {
  @apply border-none;
}

#dropdown-menu-participatory-space {
  @apply mx-0 md:mx-3.5;
}

.filter {
  span {
    @apply text-sm text-black truncate whitespace-nowrap first-letter:uppercase;
  }

  &-search {
    @apply rounded-none border border-black bg-white;
  }

  &-container {
    @apply border-x-0 border-b-0 border-t border-background mt-2 pt-2;

    [data-controls*="panel"] {

      & > span {
        @apply text-black;
      }
    }

    input[type="checkbox"],
    input[type="radio"] {
      &:checked {
        + span + span {
          @apply w-full absolute top-0 left-0 bg-transparent h-full rounded block;
        }
      }
    }
  }
}

.page__grid {
  .page__title {
    @apply text-[--primary];
  }
}

.read-more {
  @apply pt-4 font-semibold text-[--primary];
}

.simple-tabs {
  @apply py-12;

  h1 {
    @apply break-words;
  }
  .vertical-tabs {
    @apply container mt-12;

    nav {
      @apply p-2 border-x-0 border-y border-background text-lg flex flex-col gap-4 items-start justify-center;

      h3 {
        @apply mb-1;
      }

      .is-active {
        @apply underline;
      }

      p {
        @apply text-[--primary] h6;
      }
    }

    >*:first-child {
      @apply col-span-7;
    }

    >*:last-child {
      @apply col-span-7 md:col-span-3;
    }
  }
}

.homepage-content_block:nth-child(even) {
  @apply bg-gray-3;
}

.homepage-content_block.custom-hero {
  @apply bg-[#f2fcfd] pb-12 md:pt-5 md:pb-9;
}

.homepage-content_block.py-homepage {
  padding-top: 3.65rem;
  padding-bottom: 3.65rem;
}

.datefilter-dropdown {
  @apply inline-flex justify-between items-center w-full border border-black p-1 bg-white text-md relative md:justify-center;
}

#dropdown-trigger-filters {
  @apply border-none;

  span {
    @apply text-[--primary];
  }

  svg {
    @apply fill-[--primary];
  }
}

.active-filter {
  @apply mr-1;
}

.dropdown-menu-process-date {
  @apply absolute w-56 top-full bg-white border border-background z-50;

  .filter {
    label {
      @apply flex items-center px-4 py-2 text-sm cursor-pointer transition-colors duration-200;
    }

    input:checked + span {
      @apply font-bold underline;
    }

    span + span {
      @apply hidden;
    }

    input[type="radio"] {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }
}

header .main-bar__links-desktop svg {
  @apply h-9 w-9;

  & + span {
    @apply font-bold mt-1;
  }
}

.custom_hero-container {
  @apply flex flex-col-reverse gap-4 pb-5 md:container lg:grid lg:grid-cols-2 lg:py-5;
}

.custom_hero-text {
  @apply container space-y-8 md:mx-0 md:px-0 lg:mt-4 lg:flex lg:flex-col;
}

.custom_hero-image {
  @apply mb-4 md:mb-0;

  img {
    @apply w-full md:max-w-full;
  }
}

.participatory-space__nav-item {
  @apply bg-[--primary] text-white p-2 h-14 text-lg font-semibold pl-4 w-full xl:w-3/6;

  svg {
    @apply h-6 w-6;
  }
}

.comment__opinion-container {
  @apply flex-col md:flex-row
}

.participatory-space {
  &__hero {
    @apply double-col px-8 backdrop-brightness-100;

    &-text {
      @apply text-left space-y-6 w-full px-0 pb-0 pt-4 md:[&_a_+_a]:ml-6;
    }

    &-slogan {
      @apply text-xl text-black font-normal;
    }
  }

  &__container {
    > :not([id^="html-block"]):not([id^="hero"]):not([id^="floating-helper"]) {
      @apply container;
    }

    > [id^="html-block"] {
      @apply w-full prose max-w-none [&+*]:border-t-0;
    }
  }

  &__content-block {
    @apply flex flex-col-reverse md:flex-row justify-between items-start [&>*]:w-full;

    & > :first-child:not(:only-child) {
      @apply md:w-3/4;
    }

    & > :last-child:not(:only-child) {
      @apply md:w-1/4;
    }
  }

  &-group__content-block {
    @apply grid md:grid-cols-4 gap-4 items-start [&>*]:col-span-3 md:first:[&>*]:col-span-4 md:last:[&>*]:col-span-1 grid-flow-row-dense;

    &-metadata {
      @apply inline-flex flex-wrap gap-x-12 gap-y-4;

      & > span {
        @apply inline-flex items-center gap-1 text-md text-gray-2;

        & > svg {
          @apply w-3.5 h-3.5 fill-current text-gray;
        }
      }
    }
  }

  &__nav {
    @apply divide-y divide-white [&>li]:py-3.5 first:[&>li]:pt-0 last:[&>li]:pb-0;

    &-container {
      @apply ml-0 md:ml-6 bg-primary p-3 md:p-6 rounded w-full md:w-auto self-start;

      [id*="dropdown-menu"] {
        @apply mx-0;
      }

      [data-target*="dropdown"] {
        @apply p-0 [&>span]:text-white [&>svg]:text-white;
      }
    }

    &-item {
      @apply flex items-center gap-1 text-white font-semibold hover:underline [&>svg]:fill-current;
    }
  }

  &__metadata {
    &-steps {
      @apply font-normal;

      &__list {
        @apply space-y-6 relative;

        &-container {
          @apply mt-8 flex flex-col md:flex-row gap-6 md:gap-0 divide-background-3 md:divide-x md:[&>*]:px-10 first:[&>*]:pl-0 last:[&>*]:pr-0;
        }

        > * {
          @apply relative before:absolute before:w-px before:-z-10 before:left-8 before:bg-gray-3 before:h-[calc(100%+1.5rem)] last:before:h-[36px] before:-top-[18px] first:before:top-[18px];
        }
      }

      &__step {
        @apply flex items-baseline gap-6 text-left;

        > :first-child {
          @apply flex-none w-12 h-12 md:w-16 md:h-16 rounded-full inline-grid place-items-center text-black text-[22px] md:text-[32px] font-bold bg-background;
        }

        > :last-child {
          @apply flex flex-col gap-2 relative;
        }

        &-title {
          .step-title {
            @apply text-black text-[22px] md:h3;
          }
        }

        &-dates {
          @apply text-black text-sm whitespace-nowrap;
        }

        &-current {
          @apply absolute -translate-y-full italic text-sm invisible;
        }

        &[aria-expanded="true"] &-title {
          @apply font-semibold;
        }

        &.is-active &-current {
          @apply visible;

        }

        &.is-active {
          > :first-child {
            @apply bg-[--primary] text-white text-[32px] font-bold;
          }
        }

        &.is-future {
          > :first-child {
            @apply bg-white text-[--primary] text-[32px] font-bold ring ring-[--primary];
          }
        }
      }
    }
  }
}

#dropdown-menu-filters {
  @apply border border-background h-min;

  input {
    @apply bg-white;
  }
}

#dropdown-menu-filters.no-border {
  @apply border-0;
}

.submenu-element {
  @apply text-left;

  .button {
    & > span {
      @apply text-left;
    }
  }
}

.menu__bar-submenu {
  @apply border-t-background;
}

.active-link {
  @apply text-[--primary];
}

.active-caret {
  svg {
    @apply fill-[--primary];
  }
}

.card__list {
  @apply border border-background hover:border-background hover:no-underline px-0;

  &-content {
    @apply flex flex-col w-full md:flex-row md:justify-between;
  }
}

.simple-card-button {
  @apply button button__lg button__secondary;
}

.meeting-list__map {
  @apply md:mt-0 md:ml-0;
}

.simple-map {
  @apply aspect-square md:aspect-[21/9] [&>*]:h-full [&+*]:mt-6 md:[&+*]:mt-12;
}

a.card__list[id^="accountability__result_"] {
  @apply gap-0;
}

.form-defaults {
  input[type="search"]:not(.reset-defaults) {
    @apply bg-white;
  }
}

.page__grid {
  .page__accordion-trigger-snippet {
    @apply text-black;
  }

  .read-more {
    @apply h6;
  }
}

.content-block__description.editor-content {
  .rich-text-display {
    p {
      @apply text-black text-md;
    }
  }
}

.page__container {
  .editor-content {
    @apply text-black text-md;
  }
}

.vertical-tabs {
  .editor-content {
    .rich-text-display {
      @apply text-black text-md;
    }
  }
}

.participatory-space__container {
  .content-block {
    @apply border-t-0;
  }
}

#content {
  @apply flex-grow pb-16;

  &.no-padding {
    @apply pb-0;
  }
}

.one-col {
  @apply container grid grid-cols-1 py-5;
}

.double-col {
  @apply container grid grid-cols-1 md:grid-cols-2 gap-4 py-5;
}

.double-col_off {
  @apply container grid grid-cols-1 md:grid-cols-[1fr_5fr] gap-4 py-5;
}

.double-col_off_reverse {
  @apply container grid grid-cols-1 md:grid-cols-[5fr_1fr] gap-4 py-5;
}

.instructions {
  @apply container flex flex-col items-center space-y-8 md:items-start md:flex-row md:justify-between md:gap-8 md:space-y-0;
}

.infolift {
  @apply container;

  &__content {
    @apply mx-auto md:max-w-[34rem] text-center;
  }
}

.process-banner {
  @apply p-0 bg-[#f2fcfd];
}

#floating-helper-tip {
  @apply hidden;
}

.accountability__status{
  &-simple {
    &_title {
      @apply text-black text-xl;
    }
    &_value {
      @apply text-black text-xl font-bold;
    }
  }
}

.accountability__filters-simple {
  @apply border border-background h-min p-2;

  .filter-container {
    @apply mt-8 pt-2 border-t border-background;
  }

  .filter-container-search {
    @apply rounded-none border border-black bg-white;
  }
}

#blogs {
  .card__list {
    @apply w-full md:w-4/6;
  }
}

.record-action-container {
  @apply items-center py-4 flex flex-col gap-2 mx-auto w-3/6 sm:w-2/6 lg:w-5/6;

  > * {
    @apply w-full;
  }

  a {
    @apply button__lg mt-0;
  }
}

.add-comment {
  @apply bg-[#f2fcfd] p-2;
}

.form-defaults {
  /* text-like inputs */
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
  textarea {
    &:not(.reset-defaults) {
      @apply rounded-none border-black;
    }
  }
}

.action-divider {
  @apply border-t mt-4;
}

.layout-item {
  @apply container grid grid-cols-1 lg:grid-cols-12 py-4 lg:py-24 gap-12 lg:gap-x-0;

  &__main {
    @apply xl:col-start-1 lg:col-span-8 xl:col-span-7 relative;
  }

  &__aside {
    @apply component-background-color h-min lg:col-end-13 xl:col-end-13 lg:col-span-3 xl:col-span-3;

    [id^="proposal-"][id$="vote-button"] {
      @apply flex justify-center;

      button {
        @apply w-min;
      }
    }
  }
}

.accountability {
  &__project {
    &-aside {
      background-color: transparent !important;
    }
  }
}

.menu-element-caret-mobile {
  svg {
    @apply fill-[--primary];
  }
}

.submenu-element-mobile {
  @apply border-background;
}

.layout-main__section.layout-main__buttons {
  @apply flex flex-col gap-4 md:flex-row md:justify-between md:gap-0;
}

[data-dialog] {
  [data-dialog-actions] {
    @apply flex-nowrap;
  }

  [data-dialog-title] {
    @apply text-4xl text-black font-semibold inline focus:outline-none;
  }

  [data-dialog-container] {
    @apply block;

    > svg {
      @apply inline mb-2.5 me-2.5;
    }
  }
}

