<% form.fields_for :settings, form.object.settings do |settings_fields| %>
  <div class="row column">
    <%= settings_fields.translated :text_field, :title, label: t(".title") %>
  </div>

  <div class="row column">
    <%= settings_fields.translated :editor, :description, label: t(".description"), class: "editor" %>
  </div>

  <div class="row column">
    <%= settings_fields.translated :text_field, :button_text, label: t(".button_text") %>
  </div>

  <div class=" row column">
    <%= settings_fields.translated :text_field, :button_url, label: t(".button_url") %>
  </div>
<% end %>
