<div class="lg:w-2/3 grid grid-cols-1 gap-x-4 gap-y-10 text-md text-white">
  <% pages.each do |topic| %>
    <nav role="navigation" aria-label="<%= topic[:title] %>" class="inline-block">
      <p class="h6 mb-4"><%= topic[:title] %></p>
      <ul class="space-y-4 break-inside-avoid">
        <% topic[:pages].each do |page| %>
          <%= page_item(page) %>
        <% end %>
      </ul>
    </nav>
  <% end %>
</div>
