<div class="p-4">
  <p class="h3 card__list-title">
    <%= title %>
  </p>
  <%= render :description %>
</div>
<div class="component-background-color p-2 flex justify-start items-center md:justify-center">
  <span class="simple-card-button">
    <%= t(".explore") %>
    <%= icon "arrow-right-line" %>
  </span>
</div>
