<div class="p-4">
  <h3 class="h3 card__list-title">
    <%= title %>
  </h3>
  <%= render :description %>
</div>
<div class="w-48 component-background p-2 flex justify-center items-center">
  <span class="simple-card-button">
    <%= t(".explore") %>
    <%= icon "arrow-right-line" %>
  </span>
</div>
