<div class="homepage-content_block custom-hero">
  <div class="intro-container">
    <div class="intro-text">
      <% unless translated_attribute(title).blank? %>
        <h1 class="h2 md:h1">
          <%= decidim_escape_translated title %>
        </h1>
      <% end %>

      <% unless translated_attribute(description).blank? %>
        <div class="text-xl">
          <%= decidim_sanitize_admin translated_attribute(description) %>
        </div>
      <% end %>

      <% unless translated_attribute(button_text).blank? %>
        <div class="flex-1">
          <%= render :cta_button %>
        </div>
      <% end %>
    </div>

    <% if hero_image.present? %>
      <div class="intro-image">
        <%= image_tag hero_image, alt: image_alt %>
      </div>
    <% end %>
  </div>
</div>
